@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #ham{
        display: flex;
    }
    
    .desc-container {
        flex-direction: column;
        height: 100%;
      }
}