<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoiceCraft</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/8862169197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mediaqueries.css">
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo"><a href="index.html">VoiceCraft.AI</a></div>
        <div>
            <ul class="nav-links">
                <li><a href="clone.html">Clone</a></li>
                <li><a href="dubbing.html">Start Dub</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
    </nav>

    <div style="display: flex; align-items: center; flex-direction: column; justify-content: center; gap: 25px;" class="last">
        <h1>All Done! Here’s Your Video</h1>
        <img src="assets/Rectangle 5.png" alt="">
        <button style="height: 44px; width: 140px; border-radius: 10px; border: none; background-color: black; color: white; font-size: medium; font-weight: bolder;">Download</button>
    </div>

    <footer class="foottitle">
        <h3 class="foot">
            VoiceCraft
        </h3>
        <h3 class="mori">
            Mori Labs
        </h3>
        <h5 class="rights">
            All rights recerved
        </h5>
      </footer>
    
      <script src="script.js"></script>
    </body>
    </html>