<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoiceCraft</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/8862169197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mediaqueries.css">
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo"><a href="index.html">VoiceCraft.AI</a></div>
        <div>
            <ul class="nav-links">
                <li><a href="clone.html">Clone</a></li>
                <li><a href="dubbing.html">Start Dub</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
    </nav>

    <h1 style="font-size: 45px; text-align: center; margin-top: 50px;">Success! You Can Edit Your Video Transcript Now </h1>

      <h1 class="quote">"Bringing voices to life, one language at a time."</h1>

      <div class="dropdowncontainer">
        <div class="select-menu">
            <div class="select-btn">
                <span class="sBtn-text">Select your option</span>
                <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="options">
                <li class="option">
                    <span class="option-text">Select your option</span>
                </li>
                <li class="option">
                    <i class="bx bxs-video-plus" style="color: #171515;"></i>
                    <span class="option-text">Video</span>
                </li>
                <li class="option">
                    <i class="bx bx-link-alt" style="color: #171515;"></i>
                    <span class="option-text">Youtube URL</span>
                </li>
            </ul>
        </div>
    


        <div class="lang-select-menu">
            <div class="lang-select-btn">
                <span class="lang-sBtn-text">Select your option</span>
                <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="lang-options">
                <li class="lang-option">
                    <span class="lang-option-text">Select your option</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Tamil</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Malayalam</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Telugu</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Kannada</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Hindi</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Bengali</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Gujarati</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Marathi</span>
                </li>
                <li class="lang-option">
                    <span class="lang-option-text">Odia</span>
                </li>
            </ul>
        </div>
      </div>

      
    <div class="videoInput" id="videoInput" style="display: none;">
        <label for="video">Upload a video:</label><br>
        <input class="fileupload" type="file" id="video" accept="video/*">
        <input class="videosubit" type="submit" value="submit">
    </div>

    <div class="urlInput" id="urlInput" style="display: none;">
        <form method="post" action="{{ url_for('dubbing2') }}">
            <label id="youtubeUrl" name="youtubeUrl">Enter YouTube URL:</label><br>
            <input type="text" id="youtubeUrl" name="youtubeUrl">
            <input class="urlsubmit" type="submit" value="Submit">
        </form>
    </div>

    <textarea class="textarea" name="englishtext" id="eng" cols="30" rows="10">English Text : {{ content }}</textarea>

    <div class="dubimage">
        <img src="static/assets/image 1.png" alt="">
    </div>
   
    <textarea class="othertextarea" name="othertext" id="eng" cols="30" rows="10">Translated Text :</textarea>

    <a href="dubbing3.html"><button class="dubbing-button" type="submit">Start dubbing</button></a>
    

    <footer class="foottitle">
        <h3 class="foot">
            VoiceCraft
        </h3>
        <h3 class="mori">
            Mori Labs
        </h3>
        <h5 class="rights">
            All rights recerved
        </h5>
      </footer>

      <script src="static/script.js"></script>
    </body>
    </html>