<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/8862169197.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="mediaqueries.css">
    <script src="https://kit.fontawesome.com/9d34059d7e.js" crossorigin="anonymous"></script>
    <title>VoiceCraft</title>
</head>
<body>
    <nav id="desktop-nav">
        <div class="logo"><a href="#">VoiceCraft.AI</a></div>
        <div>
            <ul class="nav-links">
                <li><a href="clone.html">Clone</a></li>
                <li><a href="dubbing1.html">Start Dubbing</a></li>
                <li><a href="#contact">About Us</a></li>
            </ul>
        </div>
    </nav>

    <nav id="ham">
        <div class="logo">VoiceCraft.AI</div>
        <div class="ham-menu">
            <div class="ham-icon" onclick="togglemenu()">
                <span></span>
                <span></span>
                <span></span>
        </div>
    
    <div class="menu-links">
        <li><a href="#about" onclick="togglemenu()">Clone</a></li>
        <li><a href="#projects" onclick="togglemenu()">Start Dubbing</a></li>
        <li><a href="#contact" onclick="togglemenu()">About Us</a></li>
    </div>
    </div>
</nav>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 20px; padding-top: 90px;">
        <h1 style="font-size: 60px; font-weight: 900;">Connect to Google Drive</h1>
        <p style="font-weight: 900; color: black; width: 650px; text-align: justify;">
            Our Features require quite the computing power and we don’t have a server yet. 
            So we need your Google Drive for us to store and retreive data from and to act as a server with Google Colab. 
            Rest Assured, this won’t be a thing once we get a server!
        </p>
        <a href="index.html">
            <button type="submit" class="googledrivebutton">
                Connect Google Drive
            </button>
        </a>
    </div>
    
    <footer class="foottitle">
        <h3 class="foot">
            VoiceCraft
        </h3>
        <h3 class="mori">
            Mori Labs
        </h3>
        <h5 class="rights">
            All rights recerved
        </h5>
    </footer>
</body>
</html>